@charset "utf-8";

/* clearfix可以加在這，也可以放在reset CSS，還不太懂是什麼 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:sans-serif, Microsoft JhengHei;
}


/* 各裝置共同樣式與小尺寸裝置樣式 */

h2 {
    text-align: center;
}

header {
    background-image: url(../images/bg.jpg);
    margin-top: -10px;
    padding-top: 100px;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 600px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
    color: #000000;
}

#p2 {
    margin-top: 0px;
    padding-top: 10px;
    background-attachment: relative;
    background-position: center center;
    min-height: 600px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#p4,
#p6 {
    margin-top: 0px;
    padding-top: 10px;
    background-attachment: relative;
    background-position: center center;
    min-height: 300px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#p1,
#p3,
#p5 {
    background-color: #604020;
    color: #ffffff;
    margin-top: 0px;
    padding-top: 10px;
    background-attachment: relative;
    background-position: center center;
    min-height: 30px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#p1 h1,
#p3 h1,
#p5 h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#p2 h1,
#p4 h1,
#p6 h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header p,
#p1 p,
#p2 p,
#p3 p,
#p4-p,
#p5 p,
#p6 p,
footer p
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    width: 90%;
}

#p1 iframe {
    margin-left: 2%;
}


#people_net{
    width: 90%;
    align-content: center;
    margin-left: 5%;
    border-style: dotted;
    border-width: 1px;
    border-color: #4a3826;
}


#people_net text {
    color: #cccccc;
    font-size: 11px;
}

#warning {
    font-style: oblique
}

img {
    width: 80%;
    margin: 0px auto;
    margin-top: 10px;
}

#paper_line {
    padding-left: 5%;
}


ul {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    width: 90%;
    padding-left: 10%;
}

#footer {
    height: 50px;
    background-color: #31c6c6;
    color: #ffffff;
    margin-top: 0px;
    padding-top: 10px;
    background-attachment: relative;
    background-position: center center;
    width: 100%;
}

.fb-share-button {
    line-height: 20px;
}


/*滑鼠滾動icon*/

.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 500px;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #ffffff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}


/* 不同尺寸裝置，媒體查詢 Media Queries 的切換樣式 */


/* 中尺寸樣式：769~960 px (暫定) */

@media only screen and (min-width: 769px) {
    #counter {
        font-size: 120px;
    }
    img {
        margin: 0px auto;
        width: 60%;
    }
}


/* 大尺寸樣式：961px以上(暫定) */

@media only screen and (min-width: 961px) {
    header h1 {
        font-size: 48px;
    }
    header p {
        font-size: 22px;
    }
    header {
        padding-top: 80px;
    }
    #p1 iframe {
        margin-left: 4%;
        align-content: center;
    }
    /*   用grid排版-電腦版，參考http://muki.tw/tech/css-grid-note/*/
    #p1 .grid-box{
        
        display: grid;
        /* 設定 CSS grid 的第一步 */
        grid-template-columns: 40% 60%;
        /*設定 Grid 的寬度*/

    }
    
    #p2 .grid-box{
        
        display: grid;
        /* 設定 CSS grid 的第一步 */
        grid-template-columns: 43% 57%;
        /*設定 Grid 的寬度*/

    }

    #p6 .grid-box
    {
        display: grid;
        /* 設定 CSS grid 的第一步 */
        grid-template-columns: 34% 33% 33%;
        /*設定 Grid 的寬度*/

    }
    
    #p3 p,
    #p4-p,
    #p5 p
    {
    width:50%;
    }
    

    #people_net{
    width: 96%;
    align-content: center;
    margin-left: 2%;
}
    
    ul {
        padding-left: 10%;
    }
}